*{
    margin: 0;
    padding: 0;  
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
}
.all {
    flex-grow: 1;
}
.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px / 2 );
    padding-right: calc(50% - 1268px / 2 );
}
.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}
.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 28px 18px;
    display: block;
    color:  #FFFFFF;
    cursor: pointer; 
    text-decoration-line: underline;
}
.menu_link:hover {
    background-color:#FFFFFF;
    color: #EA5D21; 
    transition: 1s;
}
.menu_link_active {
    left: 1201px;
    top: 15px;
    bottom: 15px;
    color: #213B7E;
    background: #FFFFFF;
    text-decoration: none;
}
.button {
    position: relative;
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    z-index:1;
    box-shadow: 0 0 2px 0 #FFFFFF;
    transition: 1s;
    cursor: pointer; 
}
.button:active {
    box-shadow: 0 0 2px 0 #FFFFFF;
    top: 2px;
}
.button:hover {
    background-color:#FFFFFF;
    color: #EA5D21; 
}

/*окно для входа*/
.block {
    position: absolute;
    box-sizing: border-box;
    left: calc(50% - 500px / 2);
    top: 160px;
    display:none;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    z-index: 3;
}
.visible {
    display: block;
}
.row {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 36px;
}
.login {
    width: 444px;
    height: 55px;
    border: 1px solid #808080;
    margin-bottom: 56px;
    margin-left: 28px;
    font-size: 24px;
    display: flex;
    color: #808080;
    box-sizing: border-box;
    padding: 10px;
}
.password {
    width: 444px;
    height: 55px;
    border: 1px solid #808080;
    margin-left: 28px;
    font-size: 24px;
    display: flex;
    color: #808080;
    box-sizing: border-box;
    padding: 10px;
}
.btn {
    width: 153px;
    height: 50px;
    background: #EA5D21; 
    margin: 56px 173px ;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.krestic {
    font-size: 34px;
    margin-left: 474px;
}
.content {
    padding-left: calc(50% - 911px / 2);
    padding-right: calc(50% - 911px / 2);
}
.content_info {
    display: flex;
    justify-content: space-between;  
}
.content_section {
    width: 634px;
}
.content_info {
    display: flex;
    justify-content: space-between;
}
.heading {
    font-family: 'Lobster', cursive;
    position: relative;
    width: 129px;
    font-size: 36px;
    font-weight: 400;
    color: #646464;
    margin-bottom: 448px;
} 
.quotation-marksl {
    font-size: 64px;
    line-height: 80px;
 } 
.quotation-marks_left {
    position: absolute;
    left: -20px;
    top: 5px;
}
.quotation-marks_right {
    position: absolute;
    top: 46px;
    right:-12px;
}
.title{
    margin-top: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.foto {
    margin-top: 25px;
    width: 523px;
    height: 316px;
}
.subtitle {
    margin-top: 15px;
    width: 226px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}
.about_text {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.content_article {
    margin-bottom: 247px;
}
.primer1{
    color: #EA5D21;
}
.addres {
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 33px;
}
.iframe {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.contacts_text {
    font-size: 25px;
    line-height: 29px;
    margin-top: 15px;
    color: #000000;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.contacts-addres {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 439px;
    height: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 420px;
}
.telefon {
    color: #000000;
    text-decoration-line: underline;
}    
.contacts-phone {
    text-decoration: underline;
}
.couse {
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    width: 160px;
    height: 35px;
    margin-top: 33px; 
}
.video {
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-top: 25px;
}
.video-1 {
    width: 820px;
    height: 560px;
    background: url(video-1);
    border: 2px solid #EA5D21;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 311px;
}
.footer {
    background: #213B7E;
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}
.footer_text {
    color: rgba(255, 255, 255, 0.5);
}
/*students*/
.content-students {
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
}
.saubtitle {
    font-style: normal;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
}
.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 180px;
}
.student {
    width: 200px;
    position: relative;
}
.new::after {
    content:'НОВИЧОК';
    position: absolute;
    top: -12px; 
    right: -11px;
    font-size: 18px;
    width: 94px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3aab28;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2px 4px;
}
.student_name {
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   color: #000000;
   text-align: center;
   margin-top: 8px;
}
.family {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.row2 {
    color: #213B7E;
    font-size: 28px;
    padding-bottom: 15px;
    padding-top:5px;
}

.foto1 {
    margin-top:10px;
    width: 168px;
    height: 12px;
    margin-left: 933px;
    display: flex;
    flex-wrap: wrap;
}
.hobby {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.olga  {
    color: #213B7E;
    font-size: 24px;
   padding: 4px 6px 4px 6px;
}
/* Стили таблицы (IKSWEB) */
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#0f65a3;}
table.iksweb td{font-size:15px;color:#354251;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #0f65a3;}
table.iksweb tr:hover{background-color:#f9fafb}
table.iksweb tr:hover td{color:#354251;cursor:default;}
table.iksweb {
    margin-top: 25px;
}

.contacts {
    margin: 50px 150px 0px 150px;
    font-size: 18px;
    text-align: center;
}

@media (max-width:1024px) {
    /*стили для планшета*/
.header {
   padding-left: 32px;
   padding-right: 32px;
}
.menu {
    margin-left: 0;
}
.menu_link {
    font-size: 18px;
    padding: 20px 14px;
}
.block {
    top: 70px;
}
.students {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.saubtitle {
    text-align: center;
    width: auto;
}
.content {
    padding-left: calc(50% - 736px / 2);
    padding-right: calc(50% - 736px / 2);
}
.content_section {
    width: 70%;
}
.content_info {
    align-items: center;
 }
.student_new {
    top: -10px;
    right: -2px;
    font-size: 14px;
    text-align: center;
}
.couse {
    text-align: center;
    width: auto;
}
.video {
    text-align: center;
}
.video-1 {
    display: flex;
    justify-content: center;
    max-width:100%;
    width: 720px;
    height: 380px;
    margin-bottom: 214px;
}
.addres {
    flex-direction: column;
 }
.iframe {
    flex-direction: revert;
    align-items: center;
}
.contacts_text {
   text-align: center;
}
.contacts-addres {
    text-align: center;
    width: auto;
    margin-bottom: 220px;
}
.telefon {
    flex: auto;
 }
}
 
@media (max-width:767px){
    /*стили для мобилки*/
.header { 
    padding-right: 16px;
    padding-left: 0;
    }
.menu {
    flex-direction: column;
}
.menu_link:hover {
    background-color:#FFFFFF;
    color: #EA5D21; 
    transition: 1s;
}
.logo {
    display: none;
}
.block {
    width: 260px;
    left: calc(50% - 260px / 2);
    top: 262px;
    height: 240px;
}
.row {
    height: 22px;
    font-size: 16px;
    margin: 16px 58px;
    text-align: center;
}
.login {
    width: 210px;
    height: 32px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
}
.password {
    width: 210px;
    height: 32px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 26px;
}
.btn {
    width: 83px;
    height: 28px;
    margin: 40px 86px;
    font-size: 14px;
}
.content {
    padding-left: 16px;
    padding-right:16px;
}
.content_info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.content_section {
    width: 90%;
}
.heading {
    margin-bottom: 180px;
    margin-top: -280px;
}
.students {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 150px;
}
.couse {
    text-align: center;
    width: auto;
}
.video {
    text-align: center;
}
.video-1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 320px;
    width: 560px;
    margin-bottom: 80px;
}
.addres {
    flex-direction: column;
 }
.contacts_text {
   text-align: center;
}
.contacts-addres {
    text-align: center;
    width: auto;
    margin-bottom: 120px;
}
.telefon {
    flex: auto;
 }
.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
    cursor: pointer; 
}
.burger_blok {
    width: 40px;
    height: 3px;
    background-color: #EA5D21;
}
.menu {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color:  #213B7E; 
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
    width: 130px;
    box-sizing: border-box;
    transition: left 0.5s;
    cursor: pointer; 
}
.menu_blok {
    left: -130px;
 }
.krestic {
    display: none;

 }
}

